steps:
  - type: installK3s
  - type: k3sConfig

  - type: tlsSecret

  - type: applyTemplate
    file: templates/main-ingress.yaml.tmpl

  - type: applyHelm
    repoUrl: https://ealenn.github.io/charts
    repoName: ealenn
    releaseName: echoserver
    chart: ealenn/echo-server
    namespace: echoserver
    valuesTemplate: templates/echo-server-values.yaml.tmpl

  - type: healthCheck
    url: https://echo.{{.Node.Domain}}

  - type: applyHelm
    repoUrl: https://kubernetes.github.io/dashboard/
    repoName: kubernetes-dashboard
    releaseName: kubernetes-dashboard
    chart: kubernetes-dashboard/kubernetes-dashboard
    namespace: kubernetes-dashboard
    valuesTemplate: templates/dashboard-values.yaml.tmpl
  - type: runKubectl
    cmd: create serviceaccount k8s-dashboard-admin
    namespace: kubernetes-dashboard
  - type: applyTemplate
    file: templates/dashboard-admin-role-binding.yaml.tmpl
  - type: runKubectl
    cmd: create token k8s-dashboard-admin --duration 315360000s
    namespace: kubernetes-dashboard
    saveToFile: dashboard-token

  - type: applyHelm
    repoUrl: https://dl.gitea.io/charts/
    repoName: gitea-charts
    releaseName: gitea
    chart: gitea-charts/gitea
    namespace: gitea
    valuesTemplate: templates/gitea-values.yaml.tmpl

  - type: applyHelm
    repoUrl: https://argoproj.github.io/argo-helm
    repoName: argo
    releaseName: argocd
    chart: argo/argo-cd
    namespace: argocd
    valuesTemplate: templates/argocd-values.yaml.tmpl
