global:
  nodeSelector:
    kubernetes.io/hostname: {{.Node.Name}}

configs:
  cm:
    create: true
    annotations: {}
    url: ''

    application.instanceLabelKey: argocd.argoproj.io/instance
    server.rbac.log.enforce.enable: false
    exec.enabled: true
    admin.enabled: true
    timeout.reconciliation: 180s
    timeout.hard.reconciliation: 0s
  params:
    server.insecure: true
  secret:
    argocdServerAdminPassword: {{ .User.Bcrypt }}
    githubSecret: {{ .User.Secret }}

server:
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - argocd.{{.Node.Domain}}
