apiVersion: v1
kind: Secret
metadata:
  name: tls-secret
  namespace: default
data:
  tls.crt: |
{{ .Cert | indent 4 }}
  tls.key: |
{{ .Key | indent 4 }}
  ca.crt: |
{{ .CA | indent 4 }}
type: kubernetes.io/tls
